/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@400;700&family=Spectral:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap');

/* Layout */
:root {
  --error: #e7195a;
  --blue: rgb(68, 141, 236);
  --green: rgb(76, 219, 69);
  --pale: #FAF8F5;
  --cream: #EFE9E5;
}

body {
  position: relative;
  font-family: "Spectral";
  background-color: #f1f1f1;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 32px;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  /* background: #f0ece5; */
  background-color: #f5f0e7;
  margin: 0 auto;
  padding: 32px 5% 0px 2%;
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar .links {
  display: flex;
  margin-left: auto;
  margin-right: 10%;
}

.navbar .links a {
  text-decoration: none;
  color: #333;
  font-size: 28px;
  margin-right: 25px;
  padding-bottom: 20px;
}

/* Underline a link from center */
.navbar .links a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.navbar .links a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0px;
  background: #000000;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.navbar .links a:hover:before,
.navbar .links a:focus:before,
.navbar .links a:active:before {
  left: 0;
  right: 0;
}

/* Circular logo */
.circular-logo {
  display: inline-block;
  position: relative;
  width: 130px;
  height: 130px;
  margin: 0px 10% 0px 20px;
  object-fit: cover;
  margin-top: -3vh;
  margin-bottom: -3vh;
}
.circular-logo img {
  width: auto;
  height: 100%;
  clip-path: circle();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* Intro */
.intro {
  font-size: 32px;
  font-weight: 500;
  padding: 45px 2% 45px 2%;
  display: flex;
}
.intro-container {
  line-height: 50px;
  margin: 15px 0;
}
.intro-first {
  margin-bottom: 1em;
}

.work1-photo {
  display: inline-block;
  width: 700px;
  border-radius: 23px;
  margin: 0px 10% 0px 20px;
}

/* Wares */
.wares-container {
  font-weight: 500;
  padding: 20px 2% 20px 2%;
  display: flex;
  flex-direction: column;
  background-color: #f9efef;
  text-align: center;
  font-weight: 600;

}
.wares-images {
  display: flex;
  justify-content: center;
}
.wares-images img {
  padding: 20px;
  width: 350px;
  border-radius: 40px;
}

/* Address */
.address {
  font-weight: 500;
  padding: 40px 2% 70px 2%;
  display: flex;
}
.address-text {
  padding: 0px 0px 0px 50px;
}
.address img {
  width: 500px;
}
.phone {
  margin-top: 40px;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  text-align: center;
  padding: 7px 0;
  font-size: 20px;
  width: 100%;
  background-color: #303030;
  color: #ffff;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}